$menu-item-font-size: 14px;
$menu-item-line-height: 36px;

.menu{
    @extend %flex-center-row;
    .menu__horizontal-list{
        @extend %clean-menu;
        @extend %flex-horizontal;
    }
}

.list__item{
    a{
        @extend %clean-link;
        font-size: $menu-item-font-size;
        line-height: $menu-item-line-height;
        color: $standart-text-color;
        padding: 18px;
        // шрифт говно
        letter-spacing: 1px;
    }
}