$menu-item-font-size: 14px;
$menu-item-line-height: 36px;

.header__menu{
    @extend %flex-center-row;
    .list__item{
        a{
            @extend %clean-link;
            font-size: $menu-item-font-size;
            line-height: $menu-item-line-height;
            color: $alt-text-color;
            padding: 18px;
            // шрифт говно
            letter-spacing: 2px;
        }
    }
}

.horizontal-list{
    @extend %clean-menu;
    @extend %flex-horizontal;
}

.vertical-list{
    @extend %clean-menu;
}