// .information-block__header{}
.information-block__content{
    font-family: $secondary-font;
    font-size: $standart-text-size;
    line-height: 21px;
    a{
        color: $standart-text-color;
    }
}
.information-block__list{
    .list__item{
        margin-bottom: 16px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}