.information-block__content{
    @extend .text;
    a{
        color: $standart-text-color;
    }
}
.information-block__list{
    .list__item{
        margin-bottom: 16px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}