.header{
    .logo{
        margin-right: 31px;
    }
}

.logo__link{
    @extend %flex-center-column;
    @extend %clean-link;
    color: $alt-text-color;
    &:hover{
        @extend %clean-link;
        color: $alt-text-color;
    }
}

.logo__image{
    @extend %flex-center-column;
    width: 174px;
    height: 80px;
    img{
        @extend %img-fill;
    }
    &::after{
        content: 'саяны';
        font-size: 24px;
        line-height: 24px;
    }
}

// .logo__name{
//     font-size: 24px;
// }