.header{
    .logo{
        margin-right: 31px;
    }
}

.logo__link{
    @extend %flex-center-column;
    @extend %clean-link;
    color: $alt-text-color;
    &:hover{
        @extend %clean-link;
        color: $alt-text-color;
    }
}

.logo__image{
    @extend %flex-center-column;
    width: 174px;
    height: 80px;
    img{
        @extend %img-fill;
    }
    &::after{
        @extend .logo-font;
        content: 'саяны';
    }
}