<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <header class="header">
        <div class="container header__wrap">
            <div class="logo">
                <a href="" class="logo__link">
                    <div class="logo__image">
                        <img src="../../images/Logo.svg"> 
                    </div>
                    <div class="logo__name">саяны</div>
                </a>
            </div>
            <div class="menu">
                <ul class="menu__horizontal-list list">
                    <li class="list__item"><a href="">Главная</a></li>
                    <li class="list__item"><a href="">Программы</a></li>
                    <li class="list__item"><a href="">Объявления</a></li>
                    <li class="list__item"><a href="">Телепрограмма</a></li>
                    <li class="list__item"><a href="">О компании</a></li>
                </ul>
            </div>
        </div>
    </header>

    <footer></footer>
</body>
</html>