<section class="content-section">
    <div class="container">
        <div class="content-section__header">
            <h1 class="h1-header">Самое важное</h1>
        </div>
        <div class="content-section__content">
            <div class="gallary">
                <div class="gallary__carousel carousel">
                    <div class="carousel__nav prev">
                        <div class="chevron-left-i carousel__nav-icon"></div>
                    </div>
                    <div class="carousel__nav next">
                        <div class="chevron-right-i carousel__nav-icon"></div>
                    </div>
                    <div class="carousel__item">
                        <!-- <img src="../../images/image_1.jpg"> -->
                        <img src="">
                        <div class="carousel__item-header">
                            <h3 class="h3-header">"Вон отсюда". Чем обернется скандал с россиянами в "гостеприимной" Грузии</h3>
                        </div>
                    </div>
                </div>
                <div class="gallary__sub-carousel sub-carousel">
                    <div class="sub-carousel__item"></div>
                    <div class="sub-carousel__item">
                        <img src="../../images/image_1.jpg">
                    </div>
                    <div class="sub-carousel__item sub-carousel__item_active">
                        <img src="">
                    </div>
                    <div class="sub-carousel__item"></div>
                    <div class="sub-carousel__item"></div>
                    <div class="sub-carousel__item"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="container">
        <div class="content-section__header">
            <h1 class="h1-header">Последние новости</h1>
        </div>
        <div class="content-section__content">
            <div class="row">
                <div class="col col-xl-9">
                    <div class="row content-section__last-news">
                        <div class="col col-xl-4">
                            <div class="news">
                                <a href="">
                                    <div class="news__image">
                                        <img src="../../images/news-preview.jpg">
                                        <div class="info-mark news__info">
                                            <div class="info-mark__date info-mark__item">05.03.2021</div>
                                            <div class="info-mark__time info-mark__item">12:44</div>
                                            <div class="info-mark__views info-mark__item eye-i">1082</div>
                                        </div>
                                    </div>
                                    <div class="news__header">
                                        <h4 class="h4-header">Плантация в гараже</h4>
                                    </div>
                                    <div class="news__description">
                                        <p class="text">Настоящую плантацию наркосодержащих растений создал в одном из гаражных боксов ранее судимый 30-летний житель Дивногорска. В нарколаборатории, расположенной в теплице, оперативники обнаружили и изъяли 287 кустов конопли, а также оборудование для культивации растений и удобрения.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col col-xl-4">
                            <div class="news">
                                <a href="">
                                    <div class="news__image">
                                        <img src="">
                                        <div class="info-mark news__info">
                                            <div class="info-mark__date info-mark__item">05.03.2021</div>
                                            <div class="info-mark__time info-mark__item">12:44</div>
                                            <div class="info-mark__views info-mark__item eye-i">1082</div>
                                        </div>
                                    </div>
                                    <div class="news__header">
                                        <h4 class="h4-header">Визит министра лесного хозяйства</h4>
                                    </div>
                                    <div class="news__description">
                                        <p class="text">В ходе проверки подготовки к пожароопасному сезону Красноярского края, южную группу районов посетил министр лесного хозяйства региона Алексей Панов. После знакомства с территорией в здании администрации Минусинского района прошло совещание с участием глав муниципальных образований.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col col-xl-4">
                            <div class="news">
                                <a href="">
                                    <div class="news__image">
                                        <img src="../../images/news-preview.jpg">
                                        <div class="info-mark news__info">
                                            <div class="info-mark__date info-mark__item">05.03.2021</div>
                                            <div class="info-mark__time info-mark__item">12:44</div>
                                            <div class="info-mark__views info-mark__item eye-i">1082</div>
                                        </div>
                                    </div>
                                    <div class="news__header">
                                        <h4 class="h4-header">Плантация в гараже</h4>
                                    </div>
                                    <div class="news__description">
                                        <p class="text">Настоящую плантацию наркосодержащих растений создал в одном из гаражных боксов ранее судимый 30-летний житель Дивногорска. В нарколаборатории, расположенной в теплице, оперативники обнаружили и изъяли 287 кустов конопли, а также оборудование для культивации растений и удобрения.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col col-xl-4">
                            <div class="news">
                                <a href="">
                                    <div class="news__image">
                                        <img src="">
                                        <div class="info-mark news__info">
                                            <div class="info-mark__date info-mark__item">05.03.2021</div>
                                            <div class="info-mark__time info-mark__item">12:44</div>
                                            <div class="info-mark__views info-mark__item eye-i">1082</div>
                                        </div>
                                    </div>
                                    <div class="news__header">
                                        <h4 class="h4-header">Визит министра лесного хозяйства</h4>
                                    </div>
                                    <div class="news__description">
                                        <p class="text">В ходе проверки подготовки к пожароопасному сезону Красноярского края, южную группу районов посетил министр лесного хозяйства региона Алексей Панов. После знакомства с территорией в здании администрации Минусинского района прошло совещание с участием глав муниципальных образований.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col col-xl-4">
                            <div class="news">
                                <a href="">
                                    <div class="news__image">
                                        <img src="../../images/news-preview.jpg">
                                        <div class="info-mark news__info">
                                            <div class="info-mark__date info-mark__item">05.03.2021</div>
                                            <div class="info-mark__time info-mark__item">12:44</div>
                                            <div class="info-mark__views info-mark__item eye-i">1082</div>
                                        </div>
                                    </div>
                                    <div class="news__header">
                                        <h4 class="h4-header">Плантация в гараже</h4>
                                    </div>
                                    <div class="news__description">
                                        <p class="text">Настоящую плантацию наркосодержащих растений создал в одном из гаражных боксов ранее судимый 30-летний житель Дивногорска. В нарколаборатории, расположенной в теплице, оперативники обнаружили и изъяли 287 кустов конопли, а также оборудование для культивации растений и удобрения.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col col-xl-4">
                            <div class="news">
                                <a href="">
                                    <div class="news__image">
                                        <img src="">
                                        <div class="info-mark news__info">
                                            <div class="info-mark__date info-mark__item">05.03.2021</div>
                                            <div class="info-mark__time info-mark__item">12:44</div>
                                            <div class="info-mark__views info-mark__item eye-i">1082</div>
                                        </div>
                                    </div>
                                    <div class="news__header">
                                        <h4 class="h4-header">Визит министра лесного хозяйства</h4>
                                    </div>
                                    <div class="news__description">
                                        <p class="text">В ходе проверки подготовки к пожароопасному сезону Красноярского края, южную группу районов посетил министр лесного хозяйства региона Алексей Панов. После знакомства с территорией в здании администрации Минусинского района прошло совещание с участием глав муниципальных образований.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-bar buttons-bar_horizontal_center">
                        <div class="button">
                            <a href="" class="rss-square-i">Все новости</a>
                        </div>
                        <div class="button">
                            <a href="" class="bullhorn-i">Сообщить о новости</a>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-3">
                    <div class="advertisement">
                        <div class="advertisement__header">
                            <h5 class="h5-header">Объявления</h5>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text">Требуются машинисты бульдозера, экскаватора, автогрейдера, автослесарь, водители, трактористы. т. 8(391)236-32-02</p>
                            </div>
                            <div class="col-12">
                                <p class="text">Требуются грузчики. т. 293-65-56</p>
                            </div>
                            <div class="col-12">
                                <p class="text">Сварщики - полуавтомат, слесари, разнорабочие. т. 250-82-10</p>
                            </div>
                            <div class="col-12">
                                <p class="text">Охранники. т. 2-860-340</p>
                            </div>
                            <div class="col-12">
                                <p class="text">Водитель. Легковой автомобиль - универсал. т. 8-962-073-96-93</p>
                            </div>
                            <div class="col-12">
                                <p class="text">Водитель категории С Е, машинист погрузчика бульдозера без опыта. т. 8-913-174-00-60</p>
                            </div>
                            <div class="col-12">
                                <p class="text">Требуются машинисты бульдозера, экскаватора, автогрейдера, автослесарь, водители, трактористы. т. 8(391)236-32-02</p>
                            </div>
                            <div class="col-12">
                                <p class="text">Требуются грузчики. т. 293-65-56</p>
                            </div>
                            <div class="col-12">
                                <p class="text">Сварщики - полуавтомат, слесари, разнорабочие. т. 250-82-10</p>
                            </div>
                        </div>
                        <div class="button advertisement__button">
                            <a href="" class="newspaper-i">Подать объявление</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section all-projects no-padding-bottom">
    <div class="container">
        <div class="content-section__header">
            <h1 class="h1-header">Все проекты саяны-медиа</h1>
        </div>
    </div>
    <div class="all-project__content">
        <div class="container content-section__content">
            <div class="row">
                <div class="col col-xl-2">
                    <div class="project-logo">
                        <img src="../../images/шо_це.svg">
                    </div>
                </div>
                <div class="col col-xl-2">
                    <div class="project-logo">
                        <img src="../../images/М-Радио.svg">
                    </div>
                </div>
                <div class="col col-xl-2">
                    <div class="project-logo">
                        <img src="../../images/СТС_Минусинск.svg">
                    </div>
                </div>
                <div class="col col-xl-2">
                    <div class="project-logo">
                        <img src="../../images/360_Минусинск.svg">
                    </div>
                </div>
                <div class="col col-xl-2">
                    <div class="project-logo">
                        <img src="../../images/Logo.svg">
                    </div>
                </div>
                <div class="col col-xl-2">
                    <div class="project-logo">
                        <img src="../../images/Love_Radio.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>