<section class="content-section">
    <div class="container">
        <div class="content-section__header">
            <h1 class="h1-header">Loveradio</h1>
        </div>
        <div class="content-section__content">
            <div class="banner">
                <img src="../../images/banner_image.jpg">
            </div>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="container">
        <div class="content-section__header">
            <h1 class="h1-header">Избранные публикации</h1>
        </div>
        <div class="content-section__content">
            <div class="row">
                <div class="col col-xl-4">
                    <div class="news snippet_large">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже и много много текста ыыыыыы ааа</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col col-xl-4">
                    <div class="news snippet_large">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже и много много текста ыыыыыы ааа</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col col-xl-4">
                    <div class="news snippet_large">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже и много много текста ыыыыыы ааа</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section pp-alt__section">
    <div class="container">
        <div class="content-section__content">
            <div class="row">
                <div class="col-12 col-xl-3">
                    <div class="column-block">
                        <p class="text">Ежедневно на нашем сайте и по будням в новостях в 12:30 и 19:00 мы рассказываем только о событиях, которые волнуют наших зрителей, и помогаем решать жизненные проблемы.</p>
                        <p class="text">Вот уже 20 лет благодаря новостям телезрители получают полную исчерпывающую информацию. Корреспонденты программы тщательно отбирают из большого количества событий, явлений, тенденций действительно важные и интересные темы. Задача программы в том, чтобы, посмотрев новости, у зрителя сформировалась полная картина дня.</p>
                        <p class="text">Время выхода программы: прямые эфиры: 12:30, 19:00, повтор: 07:00</p>
                        <p class="text">Ведущие программы: Илья Филонов, Светлана Овсянникова, Альфия Еремеева</p>
                    </div>
                </div>
                <div class="col-12 col-xl-9">
                    <div class="content-section__header">
                        <h1 class="h1-header">Последние публикации</h1>
                    </div>
                    <div class="row news-over">
                        <div class="col-12 col-md-6 col-xl-4">
                            <a href="">
                                <div class="news-ower__description">
                                    <div class="news-ower__block">
                                        <div class="news-ower__info">
                                            <div class="info-mark">
                                                <div class="info-mark__date info-mark__item">05.03.2021</div>
                                                <div class="info-mark__time info-mark__item">12:44</div>
                                                <div class="info-mark__views info-mark__item eye-i">1082</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-ower__block">
                                        <div class="news-ower__header">
                                            <h4 class="h4-header">Визит министра лесного хозяйства</h4>
                                        </div>
                                    </div>
                                    <div class="news-ower__block">
                                        <div class="news-ower__text">
                                            <p class="text">В ходе проверки подготовки к пожароопасному сезону Красноярского края, южную группу районов посетил министр лесного хозяйства региона Алексей Панов. После знакомства с территорией в здании администрации Минусинского района прошло совещание с участием глав муниципальных образований.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-xl-8">
                            <a href="">
                                <div class="picture-frame-block news-ower__image">
                                    <img src="../../images/publicatio.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row news-over">
                        <div class="col-12 col-md-6 col-xl-4">
                            <a href="">
                                <div class="news-ower__description">
                                    <div class="news-ower__block">
                                        <div class="news-ower__info">
                                            <div class="info-mark">
                                                <div class="info-mark__date info-mark__item">05.03.2021</div>
                                                <div class="info-mark__time info-mark__item">12:44</div>
                                                <div class="info-mark__views info-mark__item eye-i">1082</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-ower__block">
                                        <div class="news-ower__header">
                                            <h4 class="h4-header">Визит министра лесного хозяйства</h4>
                                        </div>
                                    </div>
                                    <div class="news-ower__block">
                                        <div class="news-ower__text">
                                            <p class="text">В ходе проверки подготовки к пожароопасному сезону Красноярского края, южную группу районов посетил министр лесного хозяйства региона Алексей Панов. После знакомства с территорией в здании администрации Минусинского района прошло совещание с участием глав муниципальных образований.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-xl-8">
                            <a href="">
                                <div class="picture-frame-block news-ower__image">
                                    <img src="../../images/publicatio.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row news-over">
                        <div class="col-12 col-md-6 col-xl-4">
                            <a href="">
                                <div class="news-ower__description">
                                    <div class="news-ower__block">
                                        <div class="news-ower__info">
                                            <div class="info-mark">
                                                <div class="info-mark__date info-mark__item">05.03.2021</div>
                                                <div class="info-mark__time info-mark__item">12:44</div>
                                                <div class="info-mark__views info-mark__item eye-i">1082</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-ower__block">
                                        <div class="news-ower__header">
                                            <h4 class="h4-header">Визит министра лесного хозяйства</h4>
                                        </div>
                                    </div>
                                    <div class="news-ower__block">
                                        <div class="news-ower__text">
                                            <p class="text">В ходе проверки подготовки к пожароопасному сезону Красноярского края, южную группу районов посетил министр лесного хозяйства региона Алексей Панов. После знакомства с территорией в здании администрации Минусинского района прошло совещание с участием глав муниципальных образований.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-xl-8">
                            <a href="">
                                <div class="picture-frame-block news-ower__image">
                                    <img src="../../images/publicatio.jpg">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>