<section class="content-section">
    <div class="container">
        <div class="content-section__header">
            <h1 class="h1-header">Loveradio</h1>
        </div>
        <div class="content-section__content">
            <div class="banner">
                <img src="../../images/banner_image.jpg">
            </div>
        </div>
    </div>
</section>
<section class="content-section publication">
    <div class="container">
        <div class="content-section__header">
            <h1 class="h1-header">Визит министра лесного хозяйства</h1>
        </div>
        <div class="content-section__content">
            <div class="row">
                <div class="col-12 col-xl-9">
                    <div class="row">
                        <div class="col-12 col-md-3 col-xl-3">
                            <div class="publication__info">
                                <div class="info-mark">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="share">
                                <div class="share__header">
                                    <h4 class="h4-header">Поделиться</h4>
                                </div>
                                <div class="share__links-menu">
                                    <ul class="vertical-list share__list"></ul>
                                </div>
                                <!-- чому так? -->
                                <img src="../../images/klassniy_maket_mmm.png">
                            </div>
                        </div>
                        <div class="col-12 col-md-9 col-xl-9">
                            <div class="publication__content">
                                <div class="publication__block">
                                    <div class="picture-frame-block publication__banner">
                                        <img src="../../images/publicatio.jpg">
                                    </div>
                                </div>
                                <div class="publication__block">
                                    <div class="publication__text">
                                        <p class="text">
                                            Претензий жителей города Минусинска, а в последнее время ещё и близлежащих районов к качеству работы муниципального унитарного предприятия «Минусинское городское хозяйство» более чем достаточно. Казалось бы, данный факт должен стать толчком к анализу сложившейся ситуации и экстренному принятию мер.
                                        </p>
                                        <p class="text">
                                            Претензий жителей города Минусинска, а в последнее время ещё и близлежащих районов к качеству работы муниципального унитарного предприятия «Минусинское городское хозяйство» более чем достаточно. Казалось бы, данный факт должен стать толчком к анализу сложившейся ситуации и экстренному принятию мер.
                                        </p>
                                    </div>
                                </div>
                                <div class="publication__block">
                                    <div class="publication__video">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Hdq4SiSfoK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="publication__block">
                                    <div class="publication__comments">
                                        <!-- не розумію, як це зробити -->                                      
                                        <img src="../../images/a_kak.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-3">
                    <div class="advertisement">
                        <div class="advertisement__header">
                            <h5 class="h5-header">Объявления</h5>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Требуются машинисты бульдозера, экскаватора, автогрейдера, автослесарь, водители, трактористы. т. 8(391)236-32-02</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Требуются грузчики. т. 293-65-56</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Сварщики - полуавтомат, слесари, разнорабочие. т. 250-82-10</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Охранники. т. 2-860-340</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Водитель. Легковой автомобиль - универсал. т. 8-962-073-96-93</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Водитель категории С Е, машинист погрузчика бульдозера без опыта. т. 8-913-174-00-60</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Требуются машинисты бульдозера, экскаватора, автогрейдера, автослесарь, водители, трактористы. т. 8(391)236-32-02</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Требуются грузчики. т. 293-65-56</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-12">
                                <p class="text">Сварщики - полуавтомат, слесари, разнорабочие. т. 250-82-10</p>
                            </div>
                        </div>
                        <div class="button advertisement__button">
                            <a href="" class="newspaper-i">Подать объявление</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section publications">
    <div class="container">
        <div class="content-section__header">
            <h1 class="h1-header">Другие публикации</h1>
        </div>
        <div class="content-section__content">
            <div class="row">
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="news snippet">
                        <a href="">
                            <div class="news__image">
                                <img src="../../images/news-preview.jpg">
                                <div class="info-mark news__info">
                                    <div class="info-mark__date info-mark__item">05.03.2021</div>
                                    <div class="info-mark__time info-mark__item">12:44</div>
                                    <div class="info-mark__views info-mark__item eye-i">1082</div>
                                </div>
                            </div>
                            <div class="news__header">
                                <h4 class="h4-header">Плантация в гараже</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>